/* Général */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.2em;
}

h2 {
    margin: 0;
}

li {
    list-style: none;
}

i {
    cursor: pointer;
}

.close {
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(226, 223, 223, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}


/* Général - main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Général - section */
section {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Général - article */
article {
    background-color: white;
}

/* Général - icônes */
i {
    font-size: 1em;
}

/* Général - Picture-img */
.picture {
    border-radius: 50%;
}

img {
    object-fit: cover;
}

/* Général - Formulaire */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
}

input {
    border-radius: 10px;
    border: 1px solid rgb(180, 180, 180);
    height: 50px;
    width: 300px;
    margin-bottom: 10px;
}

.error {
    color: red;
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
}

.error-signUp {
    width: 100%;
    font-size: 0.8em;

}

::placeholder {
    padding-left: 5px;
    font-size: 1.2em
}

textarea {
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    height: 50px;
    border-radius: 10px;
    outline: none;
}

/* Général - Button */
.button:hover {
    filter: brightness(1.1);
}

.button {
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 800;
    margin: 20px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-button {
    background-color: rgb(2, 136, 2, 0.7);
}

.red-button {
    background-color: rgba(255, 0, 0, 0.726);
}

/* Components / Navbar */
header {
    background-color: rgb(63, 58, 58);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.headerLogin {
    display: flex;
    justify-content: center;
}

.header-container-img {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-img-groupomania {
    width: 180px;
    height: 100px;
    object-fit: cover;
}

.navbar {
    z-index: 5;
    margin-left: 80px;
}

.nav-links {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    bottom: 0;
    height: 110vh;
    padding: 2rem;
    visibility: hidden;
    background-color: rgb(63, 58, 58);
}

.show-nav .nav-links {
    right: 0;
    width: 100vw;
    visibility: visible;
    padding: 0;
    overflow-y: none;
}

.show-nav .navbar-burger {
    position: fixed;
    right: 0;
    top: 30px;
}

header nav ul li {
    color: white;
    display: block;
}

.navbar-burger {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    color: inherit;
}

.burger-bar,
.burger-bar::before,
.burger-bar::after {
    display: block;
    width: 30px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: white;
    transition: all .5s ease-in-out;
}

.burger-bar::before,
.burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
}

.burger-bar::before {
    transform: translateY(-10px);
}

.burger-bar::after {
    transform: translateY(10px);
}

.show-nav .burger-bar {
    width: 0;
    background: transparent;
}

.show-nav .burger-bar::before {
    transform: rotate(45deg);
}

.show-nav .burger-bar::after {
    transform: rotate(-45deg);
}

/* Components / Footer */
footer {
    background-color: rgb(63, 58, 58);
    /* background-color: rgba(255, 0, 0, 0.726); */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
    font-weight: 800;
}


/* Pages/ Home */
#log-presentation {
    position: relative;
    color: white;
    height: 300px;
    width: 100%;
    font-size: 0.9em;
}

#main-log div img {
    position: absolute;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.log-box {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: black;
    opacity: 0.4;
}

#main-log h1 {
    background-color: transparent;
    width: 80%;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Components/ Log / index */
#form-container {
    display: flex;
    flex-direction: column-reverse;
    /* width: 90%; */
}

.form-home-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 50px 0;
}

.form-home-link p:hover {
    color: rgb(66, 66, 253);
}

.form-home-link p {
    color: black;
    margin: 0;
    border-radius: 0;
    height: 40px;
    cursor: pointer;
}

/* Components/ Log / SignIn & SignUp  */
.login {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login h2 {
    margin: 20px 0 10px 0;
}

.login-borderBottom {
    border-top: 1px solid rgb(10, 10, 10, 0.4);
    width: 250px;
    margin-bottom: 20px;
}

.login form input {
    outline: none;
    border: none;
    height: 50px;
    width: 100%;
    padding: 0 10px;
    background-color: rgb(232, 240, 254);
}

.container-inputPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgb(232, 240, 254);
    border-radius: 10px;
    padding: 0 10px;
}

.container-inputPassword input {
    outline: none;
    border: none;
    padding: 0;
    background: none;
    margin: 0;
}

.eye {
    color: rgb(150, 150, 150);
}

.registration h4 {
    color: green;
    font-size: 1.3em;
}

.confirmPassword {
    margin-top: 5px;
    font-size: 0.8em;
    color: red;
}

/* Components / Profil / ProfilUser */
#article-account-name-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#article-account-name-img h1 {
    margin: 0 0 10px 0;
}

.container-account-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}


.account-description p {
    width: 300px;
    height: 150px;
    border: 2px solid rgb(192, 192, 192, 0.3);
    border-radius: 10px;
    margin: 0;
    padding: 5px;
    font-size: 1.1em;
}

#description {
    width: 300px;
    height: 150px;
    font-size: 1.1em;
    padding: 5px;
}

.buttonSend-description {
    width: 180px;
    margin-bottom: 0;
}

.text-deleteAccount {
    margin-top: 20px;
    color: rgb(51, 51, 255);
    font-size: 0.7em;
    cursor: pointer;
}



.button-popupDelete {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.button-popupDelete button {
    width: 120px;
    height: 40px;
}

/* Components / Profil / UpdateImg */
.form-updatePicture {
    height: 290px;
}

.container-userProfile-picture {
    margin-top: 20px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-account-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 0.5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.container-account-picture img {
    width: 200px;
    height: 200px;
}

.buttonChoice-picture {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 80px;
}

.buttonChoice-picture i {
    background-color: rgb(229, 226, 226);
    color: black;
    font-size: 0.7em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-file {
    width: 40px;
    position: relative;
    bottom: 65px;
    left: 80px;
    height: 40px;
    border-radius: 50%;
    opacity: 0;
}

.sendUpdatePicture-user {
    position: relative;
    bottom: 70px;
    border: none;
    background-color: rgb(229, 226, 226);
    font-size: 0.7em;
    font-weight: bold;
    width: 70px;
    height: 30px;
    border-radius: 20px;
}

/* Components / Post / allPosts */

.section-title-post {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 0.8em;
    margin-bottom: 10px;
}

.img-title-post {
    width: 40px;
    margin-right: 10px;
}


/* Components / Post / CardAllPosts */

.article-post {
    width: 90%;
    margin: 0 0 40px 0;
    padding: 10px 10px 0 10px;
    background-color: rgb(250, 250, 250);
    box-shadow: -15px -15px 15px rgb(255, 255, 255, 0.4),
        15px 15px 15px rgb(0, 0, 0, 0.3);
}

.article-post i {
    font-size: 0.8em;
}

.fa-spinner {
    color: rgba(255, 0, 0, 0.726);
    font-size: 1.5em;
}

.header-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
}

.header-post-user {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
}

.pictureUser-post {
    width: 80px;
    height: 80px;
}

.container-editDelete-post .fa-image {
    font-size: 0.9em;
    margin-top: 4px;
    margin-right: 5px;
}

.container-editDelete-post .fa-arrow-alt-circle-down {
    color: green;
    margin-right: 5px;
}

.container-editDelete-post {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    font-size: 1em;
    margin-bottom: 40px;
    width: 50%;
}

.fa-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 2px;
}

.container-datePost {
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    font-style: italic;
    color: rgb(143, 143, 143);
    margin: 0;

}

.img-post {
    width: 100%;
    border-radius: 5px;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.video iframe {
    border-radius: 10px;
}

.container-commentLike {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.block-comments {
    margin: 0 0 0 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fa-comment {
    -webkit-text-stroke: 1px rgb(50, 146, 255);
}


.header-popup-edit-post {
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.header-popup-edit-post img {
    width: 100px;
    height: 100px;
}

/* Components / Post / DeletePost */
.fa-trash-alt:hover {
    color: rgba(255, 0, 0, 0.726);
}

/* Components / Post / NewPostForm */
.section-newPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.article-newPost {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgb(63, 58, 58, 0.3);
}

.article-newPost input {
    border-radius: 50px;
    border: none;
    background-color: rgb(250, 246, 246);
}

.picture-newPost {
    margin-left: 10px;
    width: 70px;
    height: 70px;
    border: 0.5px solid grey;
}


/* Components / Post / CarAllPost & newPostForm - article popup */
.article-popup {
    z-index: 5;
    overflow-y: scroll;
}

.style-popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity .4s;
}

.container-popup {
    background: white;
    border-radius: 5px;
    width: 90%;
    margin: 100px auto;
    padding: 20px 0;
}

.delete {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 0.6em;
    position: relative;
    top: 150px;
    padding: 8px;
}

.close-popup {
    font-size: 0.4em;
    font-weight: bold;
    width: 20px;
    height: 20px;
    position: relative;
    left: 89%;
    bottom: 17px;
}

.header-popup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-popup-newPost {
    justify-content: flex-start;
    margin-bottom: 20px;
}

.textPopup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textPopup textarea {
    height: 150px;
    margin-bottom: 20px;
}

.img-newPost-popup {
    margin-top: 10px;
    width: 90%;
    border-radius: 10px;
    object-fit: cover;
}

#containerVideo-Newpost {
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 0;
}

#closeVideo-nexPost {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(226, 223, 223, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6em;
    margin: 5px;
}

.video-newPost {
    width: 100%;
    height: 300px;
    margin: auto;
}

.container-newPostPopup-img-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-top: 10px
}

.newPostPopup-img {
    width: 98%;
    height: 30px;
    display: flex;
}

.newPostPopup-img i {
    position: relative;
    bottom: 30px;
}

#comment-file-upload {
    opacity: 0;
    width: 25px;
    border: none;
    position: relative;
    right: 25px;
}

#newPost-file-upload {
    opacity: 0;
    width: 25px;
    border: none;
    position: relative;
    bottom: 30px;
    right: 25px;
}

.container-newPostBtnSendCancel {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btnNewPost {
    width: 115px;
    height: 35px;
    font-weight: 600;
}

/* Components / Post / CardComment  */

#article-comment {
    overflow-y: scroll;
    max-height: 500px;
    border-radius: 5px;
    margin: auto;
}

.containerComment-User {
    margin-top: 10px;
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7px;
    border: 0.1px solid rgb(143, 143, 143);
    border-radius: 20px;
    background-color: rgb(158, 157, 157, 0.4);

}

.containerComment-client {
    margin-top: 10px;
    width: 94%;
    display: flex;
    flex-direction: column;
    padding: 7px;
    border: 0.1px solid rgb(39, 39, 39);
    border-radius: 20px;
}

.profileUser-comment {
    display: flex;
    justify-content: space-between;
}

.userImgName-comment {
    display: flex;
}

.pictureUser-comment {
    width: 40px;
    height: 40px;
}

.userImgName-comment h4 {
    margin: 0 5px;
    font-weight: 600;
}

.text-comment {
    word-wrap: break-word;
    margin: 5px 0;
    font-size: 1em;
    font-weight: 500;
}

#textarea-comment {
    margin-top: 5px;
    height: 40px;
    padding-top: 10px;
    font-size: 1em;
    width: 97%;
}

#textarea-comment::placeholder {
    font-size: 0.9em;
}

.newCommentPopup-img {
    height: 20px;
}

.imgComment {
    /* border: solid black; */
    width: 280px;
    display: flex;
    margin-bottom: 20px;
}

.picture-comment {
    border-radius: 5px;
    width: 150px;
    max-height: 150px;
    object-fit: contain;
}

.close-commentImg {
    font-size: 0.5em;
    position: relative;
    left: 152px;
    top: 0px;
}

.SendComment-button {
    font-size: 0.6em;
    background-color: rgb(46, 45, 45);
    width: 25%;
    height: 30px;
    margin: 0 0 10px 75%;
}

/* Components / Post / EditDeleteComment  */

.close-editcomment {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(226, 223, 223, 0.6);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    font-size: 0.6em;
    margin: 5px;

}

.editDelete-comment {
    display: flex;
    font-size: 0.7em;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    margin-bottom: 5px;
    width: 95%;
}

.date-comment {
    font-size: 0.8em;
    margin: 0 0 5px 5px;
    font-style: italic;
    color: rgb(143, 143, 143);
}

.button-editDelete-comment {
    /* border: solid black; */
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.container-EditClose-button {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 5px;
    width: 96%;

}

.button-EditCloseComment {
    font-size: 0.6em;
    width: 90px;
    height: 30px;
    margin: 0 0 0 5px;
}


/* Components / Post / LikeButton  */
.fa-heart {
    -webkit-text-stroke: 1px;
    background: linear-gradient(rgba(255, 0, 0, 0.726), #a78180);
    background-clip: text;
    color: transparent;
}

.heart-like {
    -webkit-text-stroke: 0px;
    background: linear-gradient(rgba(255, 0, 0, 0.726), #a78180);
    background-clip: text;
    color: transparent;
}

@media screen and (min-width:768px) and (max-width:1366px) {

    /* Général - button */
    .button {
        font-size: 0.8em;
    }

    /* Géneral / popup */
    .delete {
        width: 60%;
        font-size: 1em;
        padding: 8px;
    }

    .close-popup {
        font-size: 0.5em;
        width: 30px;
        height: 30px;
        left: 93%;
    }

    /* Components / Navbar */
    .header-img-groupomania {
        width: 250px;
    }

    .navbar-burger {
        width: 60px;
        height: 80px;
    }

    header nav ul li {
        font-size: 2em;
    }

    .burger-bar,
    .burger-bar::before,
    .burger-bar::after {
        width: 40px;
        height: 3px;
    }

    .show-nav .navbar-burger {
        position: fixed;
        right: 0;
        top: 10px;
    }

    /* Components / Profil / ProfilUser */
    #article-account-name-img h1 {
        font-size: 1.4em;
    }

    .account-description {
        height: 300px;
    }

    .account-description p {
        width: 400px;
        height: 250px;
        border: 3px solid rgb(192, 192, 192, 0.3);
        padding: 8px;
        font-size: 1.3em;
    }

    #description {
        width: 400px;
        height: 250px;
        font-size: 1.3em;
        padding: 8px;
    }

    .buttonSend-description {
        width: 200px;
    }

    /* Components / Post / allPosts */
    .section-title-post {
        width: 95%;
    }

    /* Components / Post / CardAllPosts */
    .article-post i {
        font-size: 1em;
    }

    .fa-spinner {
        font-size: 1.8em;
    }

    .header-post-user {
        width: 30%;
    }

    .text-post {
        font-size: 1.5em;
    }

    .container-editDelete-post .fa-image {
        font-size: 1em;
    }

    .video iframe {
        width: 680px;
        height: 500px;
    }

    /* Components / Post / NewPostForm */
    .article-newPost input {
        width: 500px;
        height: 80px;
        padding: 0 10px;
        font-size: 1.2em;
    }

    .article-newPost {
        justify-content: flex-start;
    }

    .picture-newPost {
        margin-right: 10px;
        width: 90px;
        height: 90px;
    }

    /* Components / Post / CardComment  */

    .containerComment-User {
        width: 70%;
    }

    .containerComment-client {
        width: 70%;
    }

    .pictureUser-comment {
        width: 50px;
        height: 50px;
    }

    .text-comment {
        font-size: 1.2em;
    }

    #textarea-comment {
        width: 70%;
        height: 50px
    }

    #textarea-comment::placeholder {
        font-size: 1em;
    }

    .newComment-img {
        height: 20px;
    }

    .picture-comment {
        width: 200px;
        max-height: 200px;
    }

    .close-commentImg {
        font-size: 0.7em;
        position: relative;
        left: 200px;
    }

    .SendComment-button {
        position: relative;
        bottom: 85px;
        left: 30px;
        font-size: 0.9em;
        width: 20%;
        height: 60px;
    }

    /* Components / Post / EditDeleteComment  */
    .editDelete-comment {
        width: 70%;
    }

    .button-editDelete-comment {
        width: 30%;
    }

    .container-EditClose-button {
        width: 70%;
    }

}

@media screen and (min-width:1367px) {

    /* Géneral / popup */
    .delete {
        width: 40%;
        font-size: 1em;
        padding: 8px;
        top: 350px;
    }

    .close-popup {
        font-size: 0.5em;
        width: 30px;
        height: 30px;
        left: 93%;
    }

    .button-popupDelete {
        width: 80%;
    }

    .button-popupDelete button {
        width: 150px;
        height: 50px;
        font-size: 0.8em;
    }

    .container-popup {
        width: 30%;
    }

    .container-popup textarea {
        width: 60%;
    }

    .header-popup-newPost {
        justify-content: center;
        margin-bottom: 20px;
    }

    .img-newPost-popup {
        margin-top: 10px;
        width: 60%;
        border-radius: 10px;
        object-fit: cover;
    }

    .close-popup {
        left: 88%;
    }

    .newPostPopup-img i {
        position: relative;
        bottom: 30px;
        left: 75px;
    }

    #newPost-file-upload {
        left: 55px;
    }

    .container-newPostBtnSendCancel {
        display: flex;
        justify-content: space-between;
        width: 60%;
    }

    /* Components / Navbar */

    .header-container-img {
        width: 70%;
    }

    .header-img-groupomania {
        width: 400px;
    }

    /* Pages / Home */
    #main-log {
        display: flex;
        flex-direction: row;
        height: 85vh;
        margin: 0 10px;
    }

    #log-presentation {
        width: 75%;
        height: 715px;
        margin-right: 10px;
    }

    #main-log div img {
        height: 715px;
    }

    .log-box {
        height: 715px;
    }

    /* #main-log div h1 {
        border: 3px solid white;
        background-color: transparent;
        width: 90%;
        height: 300px;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: none;
        opacity: 2;
    } */

    /* Components / Log / index */
    #form-container {
        margin: 10px;
        width: 45%;
        justify-content: center;
        align-items: center;
        height: 660px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.3);
    }

    /* Components / Profil / ProfilUser */
    .account-description p {
        width: 400px;
        height: 250px;
    }

    #description {
        width: 400px;
        height: 250px;
    }

    /* Components / Post / allPosts */

    .section-title-post {
        width: 42%;
        margin-bottom: 20px;
    }

    /* Components / Post / CardAllPosts */
    .article-post {
        width: 40%;
    }

    .pictureUser-post {
        margin-right: 10px;
    }

    .container-imgPost {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img-post {
        width: 95%;
    }

    /* Components / Post / NewPostForm */
    .article-newPost {
        width: 40%;
        justify-content: center;
        margin-bottom: 20px;
    }

    .article-newPost input {
        width: 500px;
        height: 70px;
        font-size: 1.1em;
        cursor: pointer;
    }

    .picture-newPost {
        width: 100px;
        height: 100px;
        margin-right: 10px;
    }

    .container-commentLike {
        font-size: 1.4em;
    }

    .video iframe {
        width: 700px;
        height: 500px;
    }


    /* Components / Post / CardComment  */
    .containerComment-User {
        width: 70%;
    }

    .containerComment-client {
        width: 70%;
    }

    .pictureUser-comment {
        width: 50px;
        height: 50px;
    }

    .userImgName-comment h4 {
        font-size: 1.2em;
    }

    .text-comment {
        font-size: 1.4em;
    }

    #textarea-comment {
        height: 60px;
        font-size: 1.2em;
        width: 97%;
    }

    .picture-comment {
        width: 220px;
        max-height: 220px;
    }

    .close-commentImg {
        left: 220px;
    }

    .SendComment-button {
        font-size: 1em;
        height: 50px;
    }

    /* Components / Post / EditDeleteComment  */

    .editDelete-comment {
        margin-top: 5px;
        ;
        width: 70%;
    }

    .date-comment {
        font-size: 1em;
    }

    .button-editDelete-comment {
        width: 25%;
    }

    .container-EditClose-button {
        width: 98%;
    }

    .button-EditCloseComment {
        font-size: 0.8em;
        width: 120px;
        height: 50px;
        margin: 0 0 0 10px;
    }

}